doctype html
html
    head
        style.
            .pokemons{
                color:white;
                font-size:36px;
                background-color:green ;
            } 
    body(style="background-color:green") 
       h1 Comments
      
       each i in {posts}
        each j in i
            p=j.comment