DOCTYPE WELCOME!!
html
    head
    body
        form(method='POST' action='/api/users/login')
            input(type='email' name='email' placeholder='email')
            br
            input(type='password' name='password' placeholder='password')
            br
            input(type='submit' value='login')  